.centered{
    display: flex;
  justify-content: center;
  align-items: center;
}

.inputDarkMode{
    height: 2rem;
    font-size: large;
    background-color: #121212;
    color: #CCC;
}

/*  Imported from Index.css */
body {
    font-family: -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    color:#BB86FC;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  .generalDescription {
      height: 200px;
      width: 300px;
  }