@import "./nord.css";
@import url('https://fonts.googleapis.com/css?family=Lato');
* {
	box-sizing: border-box;
}

.ideaGallery {
    background-color: #D08770;
    padding:1rem;
}

.ideaBlock {
    width: 100%;
    background-color: var(--nord0);
    color: var(--nord4);
}
/* .ideabutton{
   align-self:flex-end;

} */
.ideaContainer {
    color: var(--nord0);
    height: 51px;
    align-items: center;
}
/* .inputDarkMode {
    height: 2rem;
    font-size: large;
    background-color: #121212;
    color: #CCC;
} */

.generalDescription {
    height: 200px;
    width: 300px;
}


.clipboardText {
    color: var(--nord13) !important;
}


body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    /* min-height: 100vh; */
    min-width: 600px;
	font-family: 'Lato', sans-serif;
    margin: 0;
    padding:1rem;
    background-color:var(--nord0);
    color: var(--nord4) !important;
}

.ui.segment {
    color: var(--nord0);
}
.MuiInputBase-input{
    color: var(--nord4) !important;
}
.MuiInputBase-root{
    color: var(--nord4) !important;
}
.MuiFormLabel-root{
    color: var(--nord4) !important;
}
h1 {
	letter-spacing: 2px;
	text-align: center;
    text-transform: uppercase;
    color:var(--nord12) ;
    min-width: 400px;
    margin-bottom:1rem;
}
h3 {
	letter-spacing: 2px;
    text-transform: uppercase;
    color:var(--nord12) ;
    margin:0;
    padding-bottom:0;
}

.countdown-wrapper {
    color: var(--nord16);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.countdown-item {
	color: var(--nord4);
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    line-height: 30px;
	margin: 10px;
    padding-top: 10px;
	position: relative;
	width: 100px;
	height: 100px;
}

.countdown-item span {
	color: var(--nord7);
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}

.countdown-svg {
    color: var(--nord16);
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
}


@media only screen and (max-width: 600px) {
    body{
        justify-content:flex-start;
        min-width: 200px;
    }
}